<div {{ attributes.addClass('mb-3', 'col-12') }}>
    <div {{ content_attributes.addClass('card') }}>
      <div class="card-header">
        <h3 class="mb-0 card-title">{{ title }}</h3>
      </div>
      <div class="card-body">
        {{ content }}
      </div>
      {% if buttons %}
      <div class="card-footer">
        {% for key, button in buttons %}
          <a class="btn btn-primary" href="{{ button.link }}">{{ button.text }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
</div>
