{%
  set classes = [
  'node',
  'mb-3',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
]
%}
<article {{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  <h3 class="card-title text-center text-sm-left"><a class="text-primary" href="{{ url }}">{{ label }}</a></h3>
  {{ content.field_date }}
  <div class="card-text">{{ content.body }}</div>
  {{ request_link }}
  {{ assign_link }}
</article>
