{#
/**
 * @file
 * Default theme implementation for the contacts dashboard.
 *
 * Available variables:
 * - content: The content for this layout, including sidebar and content.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
    'layout--one-column',
    'hero',
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div class="row" role="main">
            <div {{ region_attributes.first.addClass('col', 'region', 'region--first') }}>
                {{ content.first }}
            </div>
        </div>
    </div>
{% endif %}

