<div{{ attributes.addClass('card', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  <div class="card-img-top">
    {{ content.first }}
  </div>

  <div class="card-body">
    {{ content.second }}
  </div>

</div>
