<div{{ attributes.addClass('card') }}>

  {{ title_suffix.contextual_links }}

  <div class="card-img">
    {{ content.first }}
  </div>

  <div class="card-img-overlay">
    {{ content.second }}
  </div>

</div>
