{#
/**
 * @file
 * Default theme implementation for the contacts dashboard.
 *
 * Available variables:
 * - content: The content for this layout, including sidebar and content.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout--four-eight',
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div {{ region_attributes.container }}>
            <div {{ region_attributes.layout.addClass('row') }} role="main">
                <div {{ region_attributes.first.addClass('col-sm-4', 'region', 'region--first') }}>
                    {{ content.first }}
                </div>
                <div {{ region_attributes.second.addClass('col-sm-8', 'region', 'region--second') }}>
                    {{ content.second }}
                </div>
            </div>
        </div>
    </div>
{% endif %}

