{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout',
'layout--image',
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div {{ region_attributes.container }}>
            <div {{ region_attributes.layout.addClass('row') }} role="main">
                <div {{ region_attributes.first.addClass('col', 'region', 'region--image') }}>
                    {{ content.first }}
                </div>
            </div>
        </div>
    </div>
{% endif %}