{#
/**
 * @file
 * Displays a team member block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - content: The content of this block. This is actually ignored for this template.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Rather than using the content variable, there are specific variables for the raw team member field values made
 * available here to use, as we do some specific formatting:
 * - job_title: The team member's job title (string)
 * - name: The team member's name (string)
 * - url: URL to link for this team member (string url, either a link to a page or a mailto address).
 * - photo: URL to the team member's photo (string url)
 * @see template_preprocess_block()
 *
 * @ingroup themeable
#}

{# Reusasble macro for the team member details #}
{%
  set classes = [
  'w-100',
  'card',
  'card-team',
  'card-expand',
]
%}

<div{{ attributes.addClass(classes) }}>
  <img class="card-img-top" src="{{ photo }}" alt="{{ name }}" />
  <div class="card-header border-bottom-0">

    <div class="text-center">
      <h4 class="mt-3 mx-lg-4 text-color-reset">{{ name | nl2br }}</h4>
      <p class="mx-lg-4 mb-0 text-color-reset role accent h5">{{ job_title | nl2br }}</p>
    </div>
  </div>

  <div class="collapse collapse-container" id="{{ collapse_target }}">
    <div class="card-body">
      <div class="card-text">{{ content.body }}</div>
    </div>
  </div>

  <div class="card-footer">
    <hr class="my-0">
    <div class="row align-items-center">
      <div class="col text-left">
        <div class="collapse-text">
          <a class="ml-1" href="#" data-toggle="collapse" data-target="#{{ collapse_target }}" aria-expanded="false" aria-controls="{{ collapse_target }}">Expand</a>
        </div>
      </div>
      {% if url %}
        <div class="col text-right">
          <a class="link-linkedin" target="_blank" href="{{ url }}"></a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
