{%
  set classes = [
  'col-12',
  'align-self-end',
  'justify-content-end',
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="card">
    {{ title_prefix }}
    <div class="card-header d-none">
      <div{{ title_attributes }}>
        <span class="title text-uppercase">
          {{ label }}
        </span>
      </div>
    </div>
    {{ title_suffix }}
    <div class="card-body">
      {{ content }}
    </div>
  </div>
</div>
