<div{{ attributes.addClass('my-3', 'col-12', 'col-md-6') }}>
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">{{ label }}</h5>
      <div class="card-text">{{ content.content }}</div>
      {{ content.button }}
    </div>
  </div>
</div>
