{#
/**
 * @file
 * Default theme implementation for the contacts dashboard.
 *
 * Available variables:
 * - content: The content for this layout, including sidebar and content.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout--directory',
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div {{ region_attributes.container }}>
            <div {{ region_attributes.layout.addClass('row') }} role="main">
                {% set main_width = 12 %}

                {% if content.left %}
                    {% set main_width = main_width - 3 %}
                    <div {{ region_attributes.left.addClass('col-sm', 'col-md-3', 'order-1', 'region', 'region--left') }}>
                        {{ content.left }}
                    </div>
                {% endif %}

                {% if content.right %}
                    {% set main_width = main_width - 3 %}
                    <div {{ region_attributes.right.addClass('col-sm', 'col-md-3', 'order-last', 'region', 'region--right') }}>
                        {{ content.right }}
                    </div>
                {% endif %}

                <div {{ region_attributes.content.addClass('col-sm', 'col-md-' ~ main_width, 'order-2', 'region', 'region--content') }}>
                    {{ content.content }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
