{%
  set classes = [
  'node',
  'card',
  'mb-3',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
]
%}
<article {{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  <div class="card-header">
    <h1>{{ label }}</h1>
  </div>
  <div class="card-body">
    {{ content.field_date }}
    {{ content.body }}
    {{ assign_link }}
  </div>
  <div class="card-footer">
    {{ content.field_tags }}
    {{ content.field_tags_other }}
  </div>
</article>
