{%
  set classes = [
  'col-12',
  'col-12',
  'col-lg-4',
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="card">
    {{ title_prefix }}
    <div class="card-header collapse-show d-lg-none" id="{{ facet_collapse_heading }}">
      <div{{ title_attributes }}>
        <button class="btn btn-link text-uppercase" data-toggle="collapse" data-target="#{{ facet_collapse_target }}" aria-expanded="{{ facet_collapse_open }}" aria-controls="{{ facet_collapse_target }}">
          {{ label }}
        </button>
      </div>
    </div>
    <div class="card-header hover-show d-none d-lg-block">
      <div{{ title_attributes }}>
        <button class="btn btn-link text-uppercase">
          {{ label }}
        </button>
      </div>
    </div>
    {{ title_suffix }}
    <div id="{{ facet_collapse_target }}" class="{{ facet_collapse_classes }} facet-links-content" aria-labelledby="{{ facet_collapse_heading }}">
      <div class="card-body">
        {{ content }}
      </div>
    </div>
  </div>
</div>
