{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}

  {%
    set nav_classes = [
      'nav',
      'navbar-nav',
      'nav-tabs',
      'tabs',
      'mt-2',
    ]
  %}

  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass(nav_classes) }}>
    {% else %}
      <ul class="dropdown-menu">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
        menu_level ? 'dropdown-item' : 'nav-item',
        item.is_expanded ? 'menu-item--expanded',
        item.is_collapsed ? 'menu-item--collapsed',
        item.in_active_trail ? 'active',
        item.below ? 'dropdown',
      ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {%
          set link_classes = [
          not menu_level ? 'nav-link',
          item.in_active_trail ? 'active',
          item.below ? 'dropdown-toggle',
          item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(' '),
        ]
        %}
        {% if item.below %}
          {{ link(item.title, item.url, {'class': link_classes}) }}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% else %}
          {{ link(item.title, item.url, {'class': link_classes}) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}
