{%
  set classes = [
  'user',
  view_mode ? 'user--view-mode-' ~ view_mode|clean_class,
  'clearfix',
]
%}
<article {{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  <div class="card card-user-requests card-expand">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-12 col-sm-6 text-center text-sm-left mb-3 mb-sm-0">
          <h2 class="card-title text-center text-sm-left">{{ label }}</h2>
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-right text-secondary">
          <strong>{{ postcode }}</strong>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-6 text-center text-sm-left mb-3 mb-sm-0">
          Age: {{ age_range }}
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-right text-secondary">
           <strong>{{ situation }}</strong>
        </div>
      </div>
    </div>
    <div class="collapse collapse-container" id="{{ collapse_target }}">
      <ul class="list-group list-group-flush">
        {% for request in request_list %}
        <li class="list-group-item text-dark">
          {{ request }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-footer">
      <hr class="my-0">
      <div class="row">
        <div class="col text-left">
          Tags: {{ tags }}
        </div>
        <div class="col text-right">
          <a class="btn btn-secondary" href="#" data-toggle="collapse" data-target="#{{ collapse_target }}" aria-expanded="false" aria-controls="{{ collapse_target }}">
            <span  class="collapse-text">
              <span class="text ml-1">
                Expand
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>
