/**
 * @file
 * Styles for Bootstrap buttons.
 */

.btn.btn-download {
  background-image: url(../assets/download.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: center;
  padding-right: 3em;

  &.btn-outline-dark:hover {
    background-image: url(../assets/download-inverse.svg);
  }
}
