/**
 * @file
 * Visual styles for Bootstrap Barrio's facet components.
 */

#mobile-facet-expand .btn.mobile-button {
  &:active,
  &:hover {
    background-color: inherit;
    color: inherit;
  }

  &:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5rem;
    vertical-align: middle;
    content: "";
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
    align-self: center;
    transition: transform 0.5s;
    transform: rotate(0deg);
  }

  &[aria-expanded="true"]:after {
    transform: rotate(180deg);
  }
}

//
// Desktop alterations
//
@include media-breakpoint-up(lg) {
  #facet-search {
    .card {
      border: 0;

      .card-body {
        padding: 0;
      }
    }
  }

  .row.region-facets {
    position: relative;

    .block-facets,
    .card {
      position: static;
    }

    .facet-links-content {
      .card-body {
        background-color: $blue;
        color: $white;

        position: absolute;
        width: 100%;
        left: 0;
        z-index: 1;
      }

      a,
      a:hover {
        color: $pink;
      }
    }
  }
}

.block-facets,
.block-views-exposed-filter-blockcontact-request-directory-page-1 {
  .card {
    border-radius: 0;
    border: 1px solid $blue-light;

    ul {
      list-style: none;

      .facet-item__value {
        margin-left: 0.5rem;
      }
    }

    .card-header {
      border-radius: 0;
      background-color: $blue;
      border-bottom: 1px solid $blue-light;

      span.title,
      .btn {
        color: $white !important;
        display: flex;
        width: 100%;
      }
    }
  }
}

.block-facets .hover-show .btn,
.block-facets .collapse-show .btn {
  &:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: auto;
    vertical-align: middle;
    content: "";
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
    align-self: center;

    transition: transform 0.5s;
    transform: rotate(0deg);
  }

  &[aria-expanded="true"]:after {
    transform: rotate(180deg);
  }
}

.block-facets .hover-show:hover +.collapse,
.block-facets .hover-show:hover +div +.collapse,
.block-facets .collapse:hover {
  display: block;
}

.block-facets-summary {
  ul {
    padding-left: 0;
  }

  .facet-summary-item--clear a {
    color: $body-color;
  }

  .facet-item__value {
    color: $body-color;
  }

  .facet-item__status {
    color: $pink;
  }
}
