/* ------------------ Header ------------------ */

#navbar-top {
  padding: 0 1rem;
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

#navbar-top.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
  margin-right: 1rem;
}

@media (max-width: 33.9em) {
  .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

@media (max-width: 47.9em) {
  .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

#navbar-top.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

#navbar-main {

  @include media-breakpoint-down(sm) {
    .nav-tabs {
      border-bottom: 0;

      .nav-link,
      .nav-link.active,
      .nav-link:hover,
      .nav-link:focus,
      .nav-item.show .nav-link {
        border: 0;

        // temp
        text-decoration: $link-hover-decoration !important;
      }
    }
  }

  .dropdown-item a,
  .nav-link {
    letter-spacing: -0.2px;
    font-size: 14px;
    color: $white;

    &.active,
    &:hover,
    &:focus {
      color: $white;
    }
  }

  @include media-breakpoint-down(sm) {
    .dropdown-toggle::after {
      display: none;
    }

    ul:not(.dropdown-menu) {
      border: $dropdown-border-width solid $dropdown-border-color;
      padding: $dropdown-item-padding-y $dropdown-item-padding-x;
      @include border-radius($dropdown-border-radius);
      @include box-shadow($dropdown-box-shadow);
    }

    ul.dropdown-menu {
      border: 0;
      display: block;
    }
  }

  a.dropdown-toggle + ul:hover,
  a.dropdown-toggle:hover + ul {
    display: block;
  }

  ul.nav-tabs {
    .nav-item {

      a {
        padding-top: $btn-padding-y;
        padding-bottom: $btn-padding-y;
      }

      //&:last-child {
      //  a,
      //  a:hover {
      //    border: 0;
      //    color: $white;
      //    background: $pink;
      //    padding: $btn-padding-y $btn-padding-x;
      //    border-radius: $btn-border-radius;
      //    display: inline-block;
      //
      //    @include media-breakpoint-up(md) {
      //      margin-left: 0.5rem;
      //    }
      //
      //    @include media-breakpoint-down(sm) {
      //      margin-top: 0.5rem;
      //      margin-bottom: 1rem;
      //    }
      //  }
      //}
    }
  }
}
