.ui-widget-overlay {
  // bootstrap .modal-backdrop
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  width: 100vw;
  height: 100vh;
  background-color: $modal-backdrop-bg;
  opacity: $modal-backdrop-opacity;

  // Fade for backdrop
  // @todo Add js to fade in.
  &.fade { opacity: 0; }
  &.show { opacity: $modal-backdrop-opacity; }
}

.ui-dialog input,
.ui-dialog select,
.ui-dialog textarea {
  font-size: $font-size-base;
}

.ui-dialog {
  // bootstrap .modal-content
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  color: $modal-content-color;
  pointer-events: auto;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($modal-content-border-radius);
  @include box-shadow($modal-content-box-shadow-xs);
  outline: 0;
}

// Modal header
// Top section of the modal w/ title and dismiss
.ui-dialog .ui-dialog-titlebar {
  // bootstrap .modal-header
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: $modal-header-padding;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
  @include border-top-radius($modal-content-inner-border-radius);
}

// Title text within header
.ui-dialog .ui-dialog-title {
  // bootstrap .modal-title
  margin-bottom: 0;
  line-height: $modal-title-line-height;
  font-family: $font-family-serif;
  font-size: $font-size-h5;
}

.ui-dialog .ui-dialog-titlebar-close {
  // bootstrap .close
  padding: $modal-header-padding;
  margin: (-$modal-header-padding-y) (-$modal-header-padding-x) (-$modal-header-padding-y) auto;
}



// Modal content
.ui-dialog .ui-dialog-content {
  // bootstrap .modal-content
  position: relative;
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

// UI Button and icons.
.ui-button {
  background-color: $modal-content-bg;
  border: 0;
}
.ui-icon {
  width: 16px;
  height: 16px;
}
// Use icons in core.
.ui-widget-header .ui-icon {
  background-image: url("../../../../core/assets/vendor/jquery.ui/themes/base/images/ui-icons_444444_256x240.png");
}
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
  background-image: url("../../../../core/assets/vendor/jquery.ui/themes/base/images/ui-icons_555555_256x240.png");
}
.ui-button:active .ui-icon {
  background-image: url("../../../../core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777777_256x240.png");
}
.ui-button .ui-state-highlight.ui-icon {
  background-image: url("../../../../core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777620_256x240.png");
}
.ui-button .ui-icon {
  background-image: url("../../../../core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777777_256x240.png");
}
.ui-icon-closethick {
  background-position: -96px -128px;
}
