{%
  set classes = [
  'card',
  'clearfix',
]
%}
<div {{ region_attributes.container }}>

  <div {{ region_attributes.layout.addClass(classes) }} role="main">
    {{ title_suffix.contextual_links }}

    {% set has_first = content.first|render|striptags|trim is not empty %}
    {% if has_first %}
      <div {{ region_attributes.first.addClass('card-header') }}>
        {{ content.first }}
      </div>
    {% endif %}

    <div {{ region_attributes.second.addClass('card-body') }}>
      {{ content.second }}
    </div>

    {% set has_third = content.third|render|striptags|trim is not empty %}
    {% if has_third %}
      <div {{ region_attributes.third.addClass('card-footer') }}>
        {{ content.third }}
      </div>
    {% endif %}

  </div>
</div>
