{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>

  <div class="card">
    <div class="card-header py-2">
      <a href="{{ url }}">
        <strong class="card-title">{{ label }}</strong>
      </a>
    </div>
    <div class="card-body py-2 row">
      <div class="col-6">
        <dl>
          <dt>Age</dt>
          <dd>{{ age_range }}</dd>
          <dt>Situation</dt>
          <dd>{{ situation }}</dd>
        </dl>
      </div>
      <div class="col-6">
        <dl>
          <dt>Postcode</dt>
          <dd>{{ postcode }}</dd>

        </dl>
      </div>
    </div>
    <div class="card-footer py-2">
      <dt>Tags</dt>
      <dd>{{ tags }}</dd>
    </div>
  </div>

</article>
