{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>

  <div class="card mb-4">
    <div class="card-body row">
      <div class="col-6">
        <dl>
          {% if dashboard_link %}
            <dt>Contacts Dashboard</dt>
            <dd>{{ dashboard_link }}</dd>
          {% endif %}
          <dt>Age</dt>
          <dd>{{ age_range }}</dd>
          <dt>Situation</dt>
          <dd>{{ situation }}</dd>
        </dl>
      </div>
      <div class="col-6">
        <dl>
          <dt>Postcode</dt>
          <dd>{{ postcode }}</dd>
          <dt>Tags</dt>
          <dd>{{ tags }}</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h2>Current Requests</h2>
    </div>
      <ul class="list-group list-group-flush">

    {% for request in request_list %}
    <li class="list-group-item text-dark">
      {{ request }}
    </li>
  {% endfor %}
      </ul>
  </div>
</article>
