{%
  set title_classes = [
    'field__label',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'col-4',
  ]
%}

<dt{{ title_attributes.addClass(title_classes) }}>{{ label }}:</dt>
<dd class="field__items col-8">
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
  {% endfor %}
</dd>
