//
// Hide text formats
//
.filter-wrapper {
  display:none;
}

.bg-black {
  background-color: $black;
}

.leaflet-popup-content {
  width: 250px !important;
  min-height: 200px !important;
}

.container-breakout {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

.text-white .text-muted {
  color: $gray-600 !important;
}
