/*
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
  .widget-dark {
    color: $white;

    a {
      color: $yellow;
    }
  }
}

/* COLORS
--------------------------------------------------*/

.bg-inverse {
  background: $primary !important;
}

table caption {
  caption-side: top;
}

//
// Unified login
//
.unified-login {
  padding: 2rem;
  &.login {
    background-color: $primary;
    color: $white;
    h2 {
      color: $white;
    }
  }
}
//
// Tables
//
.table th, .table td {
  vertical-align: middle !important;
}

.menu--account li a {
    color: $primary;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.slick {
    width: 100%;
}

.slick>div {
    margin: 0 15px;
}

//
// Typography
//
.accent {
  color: $accent;
}


//
// Utilities
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $value in $positions {
      .position#{$infix}-#{$value} { position: $value !important; }
    }
  }
}
