@import "../node_modules/bootstrap/scss/functions";

/* VARIABLES */

// colors

// Colors
$gray-400: #cbcacf;
$gray-600: #98989B;
$white: #fcfcfd;
$blue-light: #00aeef;
$pink: #e02685;
$pink-muted: #761447;
$link-blue: #0175a4;
$link-blue-hover: #142f6d;
$light-bg: rgba(238, 238, 238, 1);
$navy: rgba(41, 52, 98, 1);
$shadow: rgba(0, 0, 0, 0.2);

$blue: #00aeef;
$red: rgba(254, 95, 85, 1);
$black: #000000;
$yellow: rgba(243, 198, 35, 1);

$teal: #086e76;
$teal-light: #3ab3b6;
$green: #28a745;
$cyan: #72c7f1;

$colors: (
  "blue":       $blue,
  "pink":       $pink,
  "red":        $red,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
);

$primary: $red;
$secondary: $yellow;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$brand-inverse: #80801b;
$light: #d9d9d9;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  blue: $blue,
  blue-light: $blue-light,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  light: $light,
);

$accent: lighten($red, 10%);
$accent-light: lighten($accent, 37%);

$card-border-radius: 1rem;
$card-border-width: 2px;

$dropdown-link-color: $red;
$dropdown-link-active-color: $yellow;
$dropdown-link-active-bg: $green;

$nav-tabs-border-width: 0;

$nav-tabs-color: $white;
$nav-tabs-border-color: $gray-600;
$nav-tabs-bg: $gray-600;

$nav-tabs-link-hover-color: $red;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;

$nav-tabs-link-active-color: $nav-tabs-color;
$nav-tabs-link-active-bg: $red;
$nav-tabs-link-active-border-color: $red;

$organizingtogether: rgba(100, 226, 145, 1);
$freelygive: rgba(243, 198, 35, 1);
$drupal: rgba(45, 131, 248, 1);

$border-radius: .75rem;
$border-radius-lg: 1rem;
$border-radius-sm: .25rem;

$btn-padding-y: .5rem;
$btn-padding-x: 1.5rem;
$btn-padding-y-lg: .5rem;
$btn-padding-x-lg: 2rem;

$form-check-input-gutter: 1rem;
$custom-control-gutter: 0;

$custom-checkbox-indicator-border-radius: .25rem;

$navbar-dark-color: $yellow;
$navbar-dark-hover-color: $white;

@import "../node_modules/bootstrap/scss/variables";

// Set this after importing so we can use other variables.
$btn-font-weight: $font-weight-bold;
$btn-border-radius: $btn-line-height * $btn-font-size;
$btn-border-radius-lg: $btn-line-height-lg * $btn-font-size-lg;
$btn-border-radius-sm: $btn-line-height-sm * $btn-font-size-sm;

$text-muted: $gray-700;

// Body
//
// Settings for the `<body>` element.
$body-bg: $navy;
$footer-bg: $navy;
$body-color: $gray-800;
$footer-color: $white;
$inverse-color: $white;

// Typography (post variables)
//
// For some reason we need these:
// @todo remove references
$font-size-h1: $h1-font-size;
$font-size-h2: $h2-font-size;
$font-size-h3: $h3-font-size;
$font-size-h4: $h4-font-size;
$font-size-h5: $h5-font-size;
$font-size-h6: $h6-font-size;

// Links
//
// Style anchor elements.
$link-color: $link-blue;
$link-decoration: none;
$link-hover-color: $link-blue-hover;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
//
// Buttons
//
$btn-transition: background-image .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;



//
// Horizontal rules
//

$hr-border-color: lighten($red, 10%);
$nav-tabs-border-color: lighten($red, 10%);
$nav-tabs-link-active-border-color: lighten($red, 10%) lighten($red, 10%) $white;
$nav-tabs-link-hover-border-color: lighten($red, 10%) lighten($red, 10%) $nav-tabs-border-color;
$border-color: lighten($red, 10%);

//
// Cards
//
$card-spacer-x: 1.5rem;
$card-spacer-y: 1.5rem;

$card-cap-bg: transparent;
$card-report-bg: $red;
$card-report-link: $white;
$card-report-link-hover: $white;
$card-report-color: $white;
$card-news-bg: #e7ebf0;
$card-news-link: $teal;
$card-news-link-hover: $teal-light;
$card-news-color: #0e2d2e;
$card-media-bg: $pink-muted;
$card-media-link: $white;
$card-media-link-hover: $white;
$card-media-color: $white;
