/**
 * @file
 * Styles for Bootstrap buttons.
 */

.btn.btn-download {
  background-image: url(../assets/download.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: center;
  padding-right: 3em;

  &.btn-outline-dark:hover {
    background-image: url(../assets/download-inverse.svg);
  }
}

.btn.btn-icon {
  border-radius: 50%;
  font-size: 2em;
  padding: ((1.73em-$btn-line-height)/2) (.87em/2);
  fill: $white;

  &.btn-lg {
    font-size: 4em;
    padding: ((1.73em-$btn-line-height-lg)/2) (.87em/2);
  }

  svg {
    width: 1em;
  }
}
