/**
 * @file
 * Styles for Bootstrap card types.
 */

/**
 * Card grid layout.
 *
 * @see https://css-tricks.com/piecing-together-approaches-for-a-css-masonry-layout/#article-header-id-5
 * @see https://codepen.io/andybarefoot/pen/QMeZda
 */
.layout-card-grid {
  @include media-breakpoint-up(lg) {
    .grid {
      display: grid;
      grid-gap: 0 20px;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      grid-auto-rows: 10px;
    }
  }
}

// Override with our off-white base.
.card {
  background-color: $light-bg;
}

.node--view-mode-teaser {
  .card-report,
  .card-news {
    padding: $card-spacer-x;

    .card-body {
      padding: $card-spacer-x 0;
    }

    .card-header,
    .card-footer {
      text-align: center;
    }

    .card-footer {
      border-top: 0;
    }
  }

  &.card-media {
    margin-bottom: 2rem;
  }
}

.user--view-mode-requests .card-user-requests {
  background-color: $red;
  .collapse-container.show +.card-footer hr {
    display: none;
  }

  hr {
    border-color: $white;
  }

  .card-body {
    background-color: $white;
    color: $body-color;
  }
}

.card-expand {
  margin: $card-spacer-x 0;

  .collapse-container {
    max-height: 500px;
    overflow-y: scroll;

    +.card-footer {
      .collapse-text {
        &:before {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: auto;
          vertical-align: middle;
          content: "";
          border-top: $caret-width solid;
          border-right: $caret-width solid transparent;
          border-left: $caret-width solid transparent;
          align-self: center;

          transition: transform 0.5s;
          transform: rotate(0deg);
        }
      }
    }

    &.show +.card-footer {
      .collapse-text {
        &:before {
          transform: rotate(180deg);
        }
      }
    }
  }

  .card-footer {
    padding-top: 0;
    border-top: 0;

    hr + div {
      padding-top: $card-spacer-y;
    }
  }
}

.card-team {
  border-color: $dark;

  hr {
    border-color: $dark;
  }

  .role.accent {
    height: 3rem;
  }

  .card-footer {
    min-height: 81px;

    a,
    a:hover,
    .collapse-text:before {
      color: $link-color;
    }
  }

  a.link-linkedin {
    background-image: url(../assets/social-linkedin.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: center;
    width: 2em;
    height: 2em;
    display: block;
    margin: auto;
    float: right;
  }
}

.card-user-requests {
  background: $card-report-bg;
  color: $card-report-color;
  border-color: lighten($card-report-bg, 10%);

  .card-header {
    color: $white;
    border-bottom: $card-border-width solid $red;

    h3 {
      color: $white;
    }

    a:not(.btn),
    a:not(.btn):hover {
      color: $white;
    }
  }

  a:not(.btn) {
    color: $card-report-link;

    &:hover {
      color: $card-report-link-hover;
    }
  }
}

.card-news {
  background: $card-news-bg;
  color: $card-news-color;
  border-color: darken($red, 10%);

  .card-title a:hover,
  .card-title a,
  .card-title,
  h3 {
    color: $red;
  }

  .card-header {
    color: $red;
    border-bottom: $card-border-width solid darken($red, 10%);

    a,
    a:hover {
      color: $card-news-link;
    }
  }

  a.btn {
    color: $card-report-link;

    &:hover {
      color: $card-report-link-hover;
    }
  }
}

.card-media {
  background: $card-media-bg;
  color: $card-media-color;
  padding: 0;

  .field--type-image {
    margin: 0 !important;
  }

  .card-body a {
    color: $white;
  }


  .card-footer {
    border: 0;
  }

  .media-box {
    position: relative !important;
    overflow: hidden;

    .img-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include border-radius($card-border-radius);

      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .media-overlay {
      transition: background 0.5s ease;
      background-color: rgba($red, 0.5);

      span {
        background: url(../assets/play.svg) no-repeat center center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 60px;
        width: 60px;
        display: block;
        margin: auto;
      }

      &:hover {
        background-color: rgba($red, 0.7);
      }
    }
  }
}

.card-subscriber {
  border-color: $teal-light;
  background: $teal;
  color: $white;

  a:not(.btn) {
    color: $teal-light;

    &:hover {
      color: $white;
    }
  }
}

.card-subscriber.alt {
  border-color: $pink;
  background: $white;
  color: $body-color;

  .card-header {
    margin: -1px;
    font-family: $font-family-serif;
    font-size: $h2-font-size;
    background: $pink;
    color: $white;
    border-color: $pink;
  }


  a:not(.btn) {
    color: $pink;

    &:hover {
      color: $pink;
    }
  }
}

.node--promoted {
  .card-title {
    margin-top: 0.25rem;
  }

  .card-news,
  .card-user-requests {
    .left {
      margin-top: -2px;
      border-radius: 1rem 1rem 0 0;

      @include media-breakpoint-up(md) {
        margin-left: -2px;
        border-radius: 1rem 0 0 1rem;
      }
    }
  }

  .card-media .img-wrapper {
    @include media-breakpoint-up(md) {
      @include border-radius($card-border-radius);

      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.card .card-link-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.card-img-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.card--spotlight {
  background: #fff;
  border: none;
  h1, h2, h3, h4 {
    font-weight: bold;
  }
  .card-header {
    border: none;
    background: #a64942;
    color: #fff;
  }
  .card-body {
    color: $gray-600;
    h3 {
      color: $black;
    }
    h4 {
      color: $gray-900;
    }
  }
}
