/**
 * @file
 * Visual styles for Bootstrap Barrio's field components.
 */

.field--type-entity-reference {
    margin: 0 0 ($spacer * 1.2);
}

.field__label {
  font-weight: bold;
}

.field--type-entity-reference .field__label {
    margin: 0;
    padding-right: ($spacer * .3);
    /* LTR */
}

[dir="rtl"] .field--type-entity-reference .field__label {
    padding-left: ($spacer * .3);
    padding-right: 0;
}

.field--type-entity-reference ul.links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.field--type-entity-reference ul.links li {
    float: left;
    /* LTR */
    padding: 0 $spacer 0 0;
    /* LTR */
    white-space: nowrap;
}

[dir="rtl"] .field--type-entity-reference ul.links li {
    padding: 0 0 0 $spacer;
    float: right;
}

@media all and (min-width: 560px) {
    .node .field--type-image {
        float: left;
        /* LTR */
        margin: 0 $spacer 0 0;
        /* LTR */
    }
    [dir="rtl"] .node .field--type-image {
        float: right;
        margin: 0 0 0 $spacer;
    }
    .node .field--type-image+.field--type-image {
        clear: both;
    }
}

.field--type-image a {
    border-bottom: none;
}

.field--label-inline .field__label,
.field--label-inline .field__items,
.field--label-inline .field__item {
    display: inline-block
}
