/**
 * @file
 * Visual styles for the Mutual Assist front page.
 */
.bg-primary {
  background-color: transparent !important;
}

body.path-frontpage {
  #main {
    text-align: center;
  }

  .submissionPage {
    display: block;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, 1);
  }

  .submissionPage .map {
    border: 1px solid rgba(112, 112, 112, 1);
  }

  h2 {
    text-align: center;
    color: rgba(83, 80, 80, 1);
    font-size: 50.00px;
    font-weight: 700;
  }

}
