/* ------------------ Header ------------------ */

.navbar-brand {
  margin-right: 0;
  text-align: center;
  .navbar & {
    max-width: 40%;
    margin-right: $navbar-padding-x;
    img {
      max-height: 150px;
    }
  }
}
.navbar-brand-lg .navbar-brand {
  max-width: none;
  margin-right: 0;
  img {
    max-height: none;
  }
}

h1.title {
  margin-bottom: 3rem;
  text-align: center;

  .header & {
    padding-top: 3rem;
  }
  .main-content & {
    padding-top: 2rem;
  }

  .main-grid & {
    font-size: calc(1.425rem + 5vw);

    @include media-breakpoint-up(lg) {
      margin: 0;
      padding: 0;
      font-size: 5rem;
    }
  }
}
