/**
 * @file
 * Styles for Bootstrap Barrio page.
 */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.page-wrapper {
  flex-grow: 1;
  &.bg-hero-image {
    background: #171D38 url("../assets/hero-bg.png") no-repeat top;
    background-size: 100%;
    min-height: 80vh;

  }
}

.main-content-branding {
  text-align: center;
  img {
    max-height: 200px;
  }
}

.main-grid {
  padding-top: 3rem;

  h1, h2 {
    font-family: $font-family-serif;
  }

  > * {
    @extend .col-12;
  }

  > .region--branding {
    @extend .col-sm-6;
    @extend .col-lg-4;
    text-align: center;
    img {
      max-height: 200px;
    }
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  > .block-page-title-block {
    @extend .col-sm-6;
    @extend .col-lg-8;
  }

  > .block-system-main-block {
    @extend .col;
    @include media-breakpoint-up(lg) {
      order: 9;
    }
  }
  > .grid-infographic {
    @extend .col-lg-8;
  }

  @supports (display: grid) {
    @include media-breakpoint-up(lg) {

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: calc(5rem * 2 * 1.5) calc(min(50vh, 22vw) - calc(5rem * 2 * 1.5)) max-content auto;
      gap: 10px 10px;
      grid-template-areas: "empty title content" "empty messages content" "branding messages content" "info info content";

      > * {
        max-width: none !important;
      }
      > .region--branding {
        grid-area: branding;
        .navbar-brand {
          // Position inline with the background image.
          // Move the left edge to the center of the page.
          margin-left: 150%;
          // Now move back out relative to the window size.
          position: relative;
          left: -43vw;
          width: 100%;
        }
        img {
          max-height: none;
        }
      }
      > .block-page-title-block {
        grid-area: title;
        h1.title {
          text-align: left;
        }
      }
      > [data-drupal-messages],
      > [data-drupal-messages-fallback] {
        grid-area: messages;
      }
      > .block-system-main-block {
        grid-area: content;
      }
      > .grid-infographic {
        grid-area: info;
      }
    }
  }
}
