/**
 * @file
 * Footer Styling.
 */

.site-footer {
  color: $footer-color;
  font-size: 1.4rem;

  padding: $spacer 0;
  .layout-container {
    padding: 0 $spacer;
  }

  .social-link {
    width: 2rem;
    height: 2rem;
  }

  .organizingtogether a {
    color: $organizingtogether;

    &:hover,
    &:focus {
      color: darken($organizingtogether, 20%);
    }

  }

  .freelygive a {
    color: $freelygive;

    &:hover,
    &:focus {
      color: darken($freelygive, 20%);
    }
  }

  .drupal a {
    color: $drupal;

    &:hover,
    &:focus {
      color: darken($drupal, 20%);
    }

  }

  li {
    display: inline-block;
    a {
      color: $yellow;
    }
  }
}

/* Footer Top Styling. */

.site-footer__top .content {
    margin-top: 0;
}

/* Footer Bottom Styling. */

.site-footer__bottom .block {
    margin: ($spacer / 2) 0;
}

.site-footer__bottom .content {
    padding: ($spacer / 2) 0;
    margin-top: 0;
}
