.statistics {
  border: 1px solid rgba(112, 112, 112, 1);
  background-color: rgba(217, 217, 217, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  filter: drop-shadow(0px 3px 6px $shadow);
  line-height: 40.00px;

  .statistic {
    background-color: rgba(255, 255, 255, 0);
    filter: drop-shadow(0px 3px 6px $shadow);
    border: 1px solid rgba(112, 112, 112, 1);
    padding: 1rem;
    text-align: center;

    .statistic--title {
      font-size: 2vw;
      -webkit-filter: drop-shadow(0px 3px 6px $shadow);
      filter: drop-shadow(0px 3px 6px $shadow);
    }
    .statistic--number {
      display: block;
      font-size: 5vw;
      line-height: 2;
      margin: 1rem;
    }

    &.statistic__requests {
      background-color: rgba(243, 198, 35, 1);
    }
    &.statistic__offers {
      background-color: rgba(166, 73, 66, 1);
    }
    &.statistic__connections {
      background-color: rgba(41, 52, 98, 1);
    }
    &.statistic__processing {
      background-color: rgba(124,181,236, 1);
    }
  }
}
