/**
 * @file
 * Theme styling for tabs.
 */

nav.tabs {
  .header & {
    margin: 0 -#{$grid-gutter-width/2} !important;
  }
  .main-content & {
    padding-top: map_get($spacers, 3);
  }

  .nav-tabs .nav-item:not(:first-child) {
    margin-left: 1px;
  }
  .nav-pills .nav-item:not(:first-child) {
    margin-left: .5rem;
  }

  .nav-link {
    background: $nav-tabs-bg;
    color: $nav-tabs-color;

    @include hover-focus() {
      &:not(.active) {
        color: $nav-tabs-link-hover-color;
      }
    }
  }
}
