{#
/**
 * @file
 * Mutual Assist's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.branding: Items for the branding region.
 * - page.menu: Items for the menu region.
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the sidebar region.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper"{{ page_attributes.addClass('page-wrapper')|without('id') }}>
  <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
    {% block header %}
      {% if page.branding or page.menu %}
        {% if container_navbar %}<div class="container">{% endif %}
        <nav{{ navbar_attributes }}>
          {{ page.branding }}
          {{ page.menu }}
        </nav>
        {% if container_navbar %}</div>{% endif %}
      {% endif %}
      {# @todo: Move this into a block, maybe a menu? #}
      {% if header_actions %}
        <div class="header-actions {{ container }} mb-3">
          <div class="d-flex justify-content-around">
            {{ header_actions }}
          </div>
        </div>
      {% endif %}
      {% if page.header and page.header|length > 1 %}
        <div id="region-header" class="region-header {{ container }}">
          {{ page.header }}
        </div>
      {% endif %}
    {% endblock %}
  </header>

  <div id="main-wrapper"{{ main_attributes.addClass(['layout-main-wrapper', 'clearfix'])|without('id') }}>
    {% block content %}
      {% if page.sidebar %}
        <div class="row">
          <main{{ content_attributes }}>
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </main>
          <aside{{ sidebar_first_attributes }}>
            {{ page.sidebar }}
          </aside>
        </div>
      {% else %}
        <main{{ content_attributes.removeClass('col').addClass('pb-2') }}>
          <a id="main-content" tabindex="-1"></a>
          {{ page.content }}
        </main>
      {% endif %}
    {% endblock %}
  </div>

  <footer class="site-footer">
    {% block footer %}
      <div class="{{ container }}">
        <div class="row site-footer__bottom clearfix">
          <div class="col-12">
            <span class="freelygive">Built by <a href="https://freelygive.io">FreelyGive</a></span><br>
            <span class="organizingtogether">Design by <a href="https://app.organizetogether.network">OrganizingTogether</a></span><br />
            <span class="mutualassist">Powered by <a href="https://www.mutualassist.org" target="_blank">MutualAssist</a></span>
          </div>
        </div>
      </div>
    {% endblock %}
  </footer>
</div>
