{% extends "page.html.twig" %}

{% block header %}
  {% if page.branding or page.menu %}
    {% if container_navbar %}<div class="container">{% endif %}
    <nav{{ navbar_attributes.addClass('flex-wrap') }}>
      <div class="col-12 text-right align-self-start">{{ page.menu }}</div>
      <div class="col-12 col-md-6 offset-md-3 navbar-brand-lg">{{ page.branding }}</div>
    </nav>
    {% if container_navbar %}</div>{% endif %}
  {% endif %}
  {# @todo: Move this into a block, maybe a menu? #}
  {% if header_actions %}
    <div class="header-actions {{ container }} mb-3">
      <div class="d-flex justify-content-around">
        {{ header_actions }}
      </div>
    </div>
  {% endif %}
  {% if page.header and page.header|length > 1 %}
    <div id="region-header" class="region-header {{ container }}">
      {{ page.header }}
    </div>
  {% endif %}
{% endblock %}
