{% extends "page.html.twig" %}

{% set page_attributes = page_attributes.addClass('bg-hero-image') %}

{% block header %}
  {% if page.menu %}
    {% if container_navbar %}<div class="container">{% endif %}
    <nav{{ navbar_attributes }}>
      <div class="navbar-brand"></div>
      {{ page.menu }}
    </nav>
    {% if container_navbar %}</div>{% endif %}
  {% endif %}
{% endblock %}

{% set main_attributes = main_attributes.addClass('text-white') %}
{% block content %}
  <div class="{{ container }}">
    <div class="row main-grid">
      <div class="region--branding">{{ page.branding }}</div>
      {{ page.content }}
      {% if page.sidebar %}
        <div class="grid-infographic mt-5">{{ page.sidebar }}</div>
      {% endif %}
    </div>
  </div>
{% endblock %}
