/* MIXINS */

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
  .btn-#{$color} a {
    @include button-variant($value, $value);
  }
}

@each $color,
$value in $theme-colors {
  .btn-outline-#{$color} a {
    @include button-outline-variant($value);
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}
