/*
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
    background: $white;

  .widget-dark {
    color: $white;

    a {
      color: $yellow;
    }
  }
}


/* COLORS
--------------------------------------------------*/

.bg-inverse {
    background: $primary !important;
}

table caption {
  caption-side: top;
}

.navbar-brand img {
  max-height: 150px;
  max-width: 350px;
  //width: 60vw;

  @include media-breakpoint-up(md) {
    max-width: 250px;
    //width: 30vw;
  }

  @include media-breakpoint-up(lg) {
    max-width: 450px;
  }
}

.site-footer {
  background: $footer-bg;
  color: $footer-color;
  .social-link {
    width: 2rem;
    height: 2rem;
  }
}


//
// Unified login
//
.unified-login {
  padding: 2rem;
  &.login {
    background-color: $primary;
    color: $white;
    h2 {
      color: $white;
    }
  }
}
//
// Tables
//
.table th, .table td {
  vertical-align: middle !important;
}

//.menu--main li a {
//    color: $primary;
//}

.menu--account li a {
    color: $primary;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.slick {
    width: 100%;
}

.slick>div {
    margin: 0 15px;
}

//
// Typography
//
.accent {
  color: $accent;
}
