/* TYPOGRAPHY */

/* Lusitana */

@font-face {
  font-family: 'Lusitana';
  src: url('../fonts/lusitana/Lusitana-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusitana';
  src: url('../fonts/lusitana/Lusitana-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Lato */

// 100 (Thin)
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Thin.tff') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-ThinItalic.tff') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

// 200 (Light)
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

// 400 (Regular)
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// 700 (Bold)
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// 900 (Black)
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// font families
$font-family-sans-serif: 'Lato',
Arial,
Verdana,
sans-serif;
$font-raleway: 'Raleway',
Arial,
Verdana,
sans-serif;

$font-family-serif: 'Lusitana',
Georgia,
"Times New Roman",
Times,
serif !default;

$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;

$headings-font-family: $font-family-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1.2rem;
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
