@import "../node_modules/bootstrap/scss/functions";

/* VARIABLES */

// colors

// Colors
$gray-400: #CBCACF;
$gray-600: #98989B;
$white: #fcfcfd;
$blue-light: #00aeef;
$pink: #e02685;
$pink-muted: #761447;
$link-blue: #0175a4;
$link-blue-hover: #142f6d;


$blue: #00aeef;
$red: #e52312;
$black: #000000;
$yellow: #FFC300;

$teal: #086e76;
$teal-light: #3ab3b6;
$green: #28a745;
$cyan: #72c7f1;

$colors: (
  "blue":       $blue,
  "pink":       $pink,
  "red":        $red,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
);

$primary: $blue;
$secondary: $yellow;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$brand-inverse: #80801b;
$light: $gray-400;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  blue: $blue,
  blue-light: $blue-light,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  light: $light,
);

$accent: $blue-light;
$accent-light: lighten($accent, 37%);

$card-border-radius: 1rem;
$card-border-width: 2px;

$dropdown-link-color: $red;
$dropdown-link-active-color: $yellow;
$dropdown-link-active-bg: $green;
$nav-tabs-link-active-color: black;
$nav-tabs-link-active-bg: $blue;

@import "../node_modules/bootstrap/scss/variables";

$text-muted: $gray-700;

// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$footer-bg: $black;
$body-color: $gray-800;
$footer-color: $white;
//$inverse-color: $gray-lighter;

// Typography (post variables)
//
// For some reason we need these:
// @todo remove references
$font-size-h1: $h1-font-size;
$font-size-h2: $h2-font-size;
$font-size-h3: $h3-font-size;
$font-size-h4: $h4-font-size;
$font-size-h5: $h5-font-size;
$font-size-h6: $h6-font-size;

// Links
//
// Style anchor elements.
$link-color: $link-blue;
$link-decoration: none;
$link-hover-color: $link-blue-hover;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
//
// Buttons
//
$btn-transition: background-image .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;



//
// Horizontal rules
//

//$hr-margin-y: true;
//$hr-border-width: true;
$hr-border-color: $blue-light;
$nav-tabs-border-color: $blue-light;
$nav-tabs-link-active-border-color: $blue-light $blue-light $white;
$nav-tabs-link-hover-border-color: $blue-light $blue-light $nav-tabs-border-color;
$border-color: $blue-light;

//
// Cards
//
$card-spacer-x: 1.5rem;
$card-spacer-y: 1.5rem;

$card-cap-bg: transparent;
$card-report-bg: $blue;
$card-report-link: $white;
$card-report-link-hover: $white;
$card-report-color: $white;
$card-news-bg: #e7ebf0;
$card-news-link: $teal;
$card-news-link-hover: $teal-light;
$card-news-color: #0e2d2e;
$card-media-bg: $pink-muted;
$card-media-link: $white;
$card-media-link-hover: $white;
$card-media-color: $white;
